GAM_Tensor/
Metrics.pdf
datasets/Updated Datainbrief Udomboso et al. 2025.docx
manuscript 2025
manuscript 2025.zip
notebooks/.ipynb_checkpoints/Solar Radiation Prediction-checkpoint.ipynb
notebooks/.ipynb_checkpoints/
models/
